body{
    background-image: url('src/background.jpg');
}

h1{
    text-align: center;
}

ul{
    padding: 0px;
    list-style-type: none;
    margin: 0;
}

li{
    padding: 10px;
    margin-left: 20px;
    float: left;
}

ul li a{
    float: left;
    text-decoration: none;
    color: black;
}

#menu_horiz{
    border: solid black;
}

